* {
  margin: 0;
  background-color: grey;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 20px - 3rem);
}

div.game-status {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: min(90vw, 75vh);
}

div.text {
  text-decoration: underline;
}

div.text:after {
  content: attr(data-text);
}

@media (orientation: landscape) {
  main {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  div.game-status {
    flex-direction: column;
    width: fit-content;
  }
}

button.restart {
  border: 2px solid black;
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

div.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div.cell {
  height: min(30vw, 25vh);
  width: min(30vw, 25vh);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: white;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  height: 100%;
  width: 15%;
  position: absolute;
  animation: appearIn 100ms linear 0s forwards;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  rotate: 45deg;
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  rotate: -45deg;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  content: "";
  height: 90%;
  width: 90%;
  position: absolute;
  border-radius: 1e9px;
  animation: appearIn 100ms linear 0s forwards;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  height: 60%;
  width: 60%;
  position: absolute;
  background-color: grey;
  border-radius: 1e9px;
  animation: appearIn 100ms linear 0s forwards;
}

.cell.zoom::before,
.cell.zoom::after {
  animation: zoom 500ms linear 0s alternate infinite;
}

.appearIn {
  animation: appearIn 250ms linear 0s forwards;
}

@keyframes appearIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
